body {
    background-color: rgb(226, 238, 211);
}

#msg {
    font-size: 24px;
    margin: 4px;
}

#words {
    background-color: rgb(180, 235, 104);
    padding: 20px;
    display: inline-flex;
}

.btn {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

#check {
    background-color: rgb(192, 227, 143);
}

#restart {
    background-color: rgb(227, 188, 143);
}

.emptyField {
    border: 3px solid #161515;
    border-radius: 12px;
    padding: 8px;
    margin: 12px;
    width: 50px;
    height: 20px;
    display: inline-flex;
}

.occupiedField {
    border: 3px solid #161515;
    border-radius: 12px;
    margin: 12px;
    display: inline-flex;
}

.wordBlocks {
    padding: 12px;
    background-color: #53ea67;
    border-radius: 9px;
    z-index: 2;
    margin: 16px 8px;
}

.wordInner {
    padding: 12px;
    background-color: #53ea67;
    border-radius: 9px;
    z-index: 2;
}

#phrases {
    display: flex;
    min-height: 64px;
}