#words {
    background-color: tan;
    padding: 20px;
    display: inline-block;
}

#check {
    display: block;
}

.words {
    border: 3px solid #161515;
    border-radius: 12px;
    padding: 8px;
    margin: 12px;
    width: 50px;
    height: 20px;
    display: inline-flex;
}

.wordBlocks {
    padding: 12px;
    background-color: #ff2d2d;
    border-radius: 9px;
    z-index: 2;
    margin: 16px 8px;
}

#phrases {
    display: flex;
}